@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300..700&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend&family=Red+Rose:wght@300..700&family=Roboto&display=swap');



:root {
    --cor0: #C5D7D9;
    --cor1: #F28241;
    --cor2: #2AB0BF;
    --cor3: #026873;
    --cor4: #013440;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Lexend', Sans-serif;
}

body {
    background-color: var(--cor4);
    padding: 0px 10px; /*Espaço lateral do main*/
}

header {
    background-color: var(--cor0);
    height: 60px;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
}

header img {
    height: 40px;
    margin-left: 15px;
}

nav {
    display: flex;
}

nav a {
    color: #000;
    font-family: 'roboto', sans-serif;
    text-decoration: none;
    margin-right: 15px;

}
main {
    background-color: var(--cor4);
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

#titulo {
    text-align: center;
    padding: 40px;
}

#titulo h1 {
    color: var(--cor0);
    font-family: "red rose", sans-serif;
    font-size: 2.3em;
    padding: 80px 20px 15px 20px;
    border: auto;
}

#titulo span {
    color: var(--cor1);
}

#titulo p {
    color: var(--cor0);
    font-family: 'Roboto', sans-serif;
    padding: 0px 20px 50px 20px;
}

#titulo button {
    background-color: var(--cor1); 
    color: var(--cor4);   
    border: none;
    padding: 0.6rem;
    margin-bottom: 60px;
    border-radius: 7px;
    cursor: pointer;
}

#oferecemos {
    background-color: var(--cor0);
    padding: 80px 50px;
    border-radius: 10px;
    padding-bottom: 80px;
}

#oferecemos h2 {
    color: var(--cor4);
    font-size: 1.8em;
}

#oferecemos .itens {
    display: flex;
    margin-top: 60px;
    gap: 30px;
}

#oferecemos .itens .item {
    width: 25%;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

#oferecemos .itens .item .icone i {
    font-size: 20px;
    color: var(--cor4);
}

#oferecemos .itens .item h4 {
    color: var(--cor3);
    font-size: 1.2em;
    margin-top: 15px;
}

#oferecemos .itens .item p {
    color: var(--cor4);
    font-size: 0.8em;
    margin-top: 4px;
}

#numero p {
    color: var(--cor0);
    font-size: 0.8em;
    padding-top: 80px;
}

#numero h2 {
    color: var(--cor0);
    font-family: 'red rose', sans-serif;
    font-size: 1.9em;
    padding-bottom: 20px;
}

#numero h1 {
    color: var(--cor1);
    font-family: 'red rose', sans-serif;
    font-size: 6em;
    padding-bottom: 20px;
}

#comentarios {
    background-color: var(--cor0);
    padding: 70px 30px;
    margin-top: 60px;
    border-radius: 10px;
}

#comentarios h1 {
    color: var(--cor4);
    font-family: 'red rose', sans-serif;
    font-size: 1.8em;
    padding-bottom: 30px;
}

#comentarios .cliente {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#comentarios .esq {
    text-align: left;
    padding: 20px;
}

#comentarios .dir {
    text-align: right;
    padding: 20px;
}

#comentarios img {
    border-radius: 5px;

}

#comentarios blockquote {
    color: var(--cor4);
    font-size: 1.3em;
}

#comentarios p {
    color: var(--cor3);
}

#sobre {
    padding: 40px;
}

#sobre h1 {
    color: var(--cor0);
    font-family: 'red rose', sans-serif;
    font-size: 2.3em;
    padding-top: 30px;
}

#sobre span {
    color: var(--cor1);
}

#sobre p {
    color: var(--cor0);
    font-size: 1.23em;
    padding: 20px 0 50px 0;
}

#sobre img {
    height: 700px;
    border-radius: 20px;
}

footer {
    background-color: var(--cor1);
    margin: -10px;
    text-align: center;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: rgb(221, 221, 221);
}
