@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Jua&family=Meow+Script&family=Outfit:wght@100..900&display=swap');

:root {
    --cor0: #ee81a2;
    --cor1: #8ddb66;
    --cor2: #aa7ee3;
    --cor3: #f3df5b;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'outfit', sans-serif;
  
}

main {
    max-width: 1000px;
    margin: auto;
}

header {
    background-color: var(--cor0);
    color: #fff;
    height: 60px;
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

header .logo {
    display: flex;
    align-items: center;
    font-size: 1.7em;
    padding-left: 20px;
}

header .logo p {
    font-family: 'meow script', cursive;
}

header nav {
    padding-right: 20px;
}

header nav a {
    color: #fff;
    text-decoration: none;
    padding-left: 12px;
}

section#intro {
    background-color: var(--cor0);
    color: white;
    height: 500px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0px 10px 10px;
}

#intro .esq {
    margin-top: 30px;
    max-width: 450px;
    margin-right: 50px;
}

#intro h1 {
    font-family: 'jua', sans-serif;
    font-size: 2.4em;
}

#intro p {
    padding-top: 20px;
    font-size: 1.3em;
}

#intro button {
    background-color: var(--cor1);
    margin-top: 80px;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
}

#intro img {
    margin-right: 40px;
}

#sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sobre h1 {
    font-family: 'jua';
    font-size: 2.2em;
    padding: 150px 0 50px 0;

}

#sobre .conteiner{
    margin: 0 100px;
    display: flex;
    justify-content: center;
    align-items: top;
    margin-bottom: 150px;
}

#sobre h2,
#sobre p {
    padding: 12px 0 4px 8px;
    max-width: 300px;
}

#sobre img {
    height: 300px;
}

#vantagem {
    background-color: var(--cor1);
    border-radius: 10px;
    text-align: center;
}

#vantagem h1 {
    text-align: center;
    padding: 80px 0 10px 0;
    font-size: 2.2em;
    font-family: 'jua', cursive;
}

#vantagem p {
    font-size: 1.2em;
    text-align: center;
    padding-bottom: 50px;
}

#vantagem .conteiner {
    display: flex;
    justify-content: space-between;
}

#vantagem .caixa {
    text-align: center;
    background-color: var(--cor3);
    padding: 10px;
    margin: 40px;
    border: 2px solid #e6ce37;
    border-radius: 10px;
}

#vantagem .caixa h5 {
    font-family: 'jua', cursive;
    font-size: 1.2em;
    padding: 10px;
}

#vantagem .caixa p {
    padding: 10px;
    font-size: 1em;
}

#vantagem img {
    height: 400px;
}

blockquote {
    padding: 160px 40px 10px 34px;
    font-size: 2em;
}

#cliente p {
    padding-left: 60px;
    padding-bottom: 140px;
}

